html, body {
  font-family: poppins;
  user-select: none;
  background: #161936;
  color: #fff;
  margin: 0;
  text-align: center;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 275px;
}
.icon {
  width: 125px;
  height: 125px;
  margin: 0;
  margin-bottom: 10px;
}
h1, h2, p {
  margin: 0;
}
h1 {
  font-size: 25px;
}
h2 {
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 18px;
}
p {
  width: 275px;
  margin: 5px 0;
  font-size: 13px;
}
.btn {
  width: 100%;
  margin: 8px 0;
  background: #00C853;
  border: 0;
  color: #fff;
  font-size: 13px;
  padding: 15px 0;
  border-radius: 5px;
  font-weight: 500;
}
.btn.bot {
  margin: 30px 0;
}
.btn:hover {
  opacity: 0.7;
}
img {
  pointer-events: none;
  cursor: default;
}